/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #1E2C4F;
    color: #FFF;
}

#header {
    display: flex;
    flex: 0 0 auto;
    flex-flow:column nowrap;
    //box-sizing: border-box;
    justify-content: center;
    position:relative; align-items:center;

}

#wrapper {
    width: 100vw;
    height: 100vh;
}

@keyframes approach
{
    from {
        top: 0;
        opacity:0;
    }
    to {
        transform: translateY(100%);
        opacity: 1;
    }

}

@keyframes spotlight-approach
{
    from {
        transform: translateY(100%);
        opacity:0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }

}

.title {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    position:relative;
    width: 800px;
    height: 200px;
    padding: 9px;
    margin: 23px 0;
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    box-sizing: border-box;
    //border: 1px solid #FFF;
    color: #FFF;
    animation: approach 1.2s steps(1000) forwards;

}

#spotlight {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    width: 800px;
    height: 200px;
    padding: 9px;
    margin: 100px 0;
    font-family: 'Poiret One', cursive;
    font-size: 22px;
    box-sizing: border-box;
    color: #FFF;
    flex-flow:column nowrap;
    text-align:center;
    animation: spotlight-approach 1.2s steps(1000) forwards;


}

#imgm {
    margin: 25px;
    width: 500px;
    height: 500px;
    float: right;
    border: 2px white solid;
        justify-content: center;
    text-align: center;
}

#imgm-content {
    margin: auto;
    height: 50px;
    width: 100px;
    margin-top: 200px;
}

#cimg {
    position: relative;
    width: 500px;
    height: 500px;
    float: right;
    z-index: 500;
    opacity: 0.3;
    right: 0;
}

#dg-field {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    top:0;
    opacity: 0.3;
}

#topbar {
    position:absolute;
    width: 100vw;
    height: 100px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19192b+0,1e2c4f+100 */
    background: #19192b; /* Old browsers */
    background: -moz-linear-gradient(top, #19192b 0%, #1e2c4f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #19192b 0%,#1e2c4f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #19192b 0%,#1e2c4f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19192b', endColorstr='#1e2c4f',GradientType=0 ); /* IE6-9 */
    z-index: -2000
}

#header-ground {
    position: absolute;
    top: 0;
    left: 0;
    background-image: radial-gradient(rgba(129,216,208,0.2),rgba(129,216,208,0.2) 6.5px,transparent 6.5px),radial-gradient(rgba(153,102,204,0.1),rgba(153,102,204,0.1) 6.5px,transparent 6.5px),radial-gradient(farthest-corner,transparent 69%,rgba(253,238,0,0.1));
    background-position: -48px -48px,0 0,0 0;
    background-size: 96px 96px,96px 96px,100% 100%;
}


#section-header {
    height: 75px;
    width: 100%;
    overflow: hidden;
    background: #19192b;
    font-family: 'Architects Daughter', cursive;
    padding: 5px;
    z-index: 10;
}

main {
    min-height: 100%;
}

#content-wrap {
    flex-flow: row nowrap;
    padding: 42px 69px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}


footer {
    height: 28px;
    text-align: center;
    background-color: black;
    padding: 5px;
    background-size: 69px;
    background-repeat: no-repeat;
    background-position: 50% 50px;
    padding-bottom: 69px;
}

.small-note {
    font-size: 9pt;
    color: grey;
}

.scroll-down
{
    position: fixed;
    bottom: 0;
    color: #FFF;
    width: 100vw;
    text-align:center;
    font-family: 'Architects Daughter', cursive;
    left: 0;
}
section {
    height: 500px;
    width: 100%;
    padding-bottom: 150px;
}

#section-content {
    padding: 60px;

}
#section-content h1 {
    font-family: 'Poiret One', cursive;
}

.project-sect{
    float:left;
    width: 200px;
    height: 140px;
    border: 1px solid #FFF;
    margin: 5px;
    font-size: 10pt;
    padding: 5px;
}

.project-sect h1 {
    font-family: 'Poiret One', cursive;
    font-size: 15pt;
}

a {
    color: #FFF;
}

[aos="fade"] {
    opacity: 0;
    transition-property: opacity;
}

[aos="fade"].aos-animate {
    opacity: 1;
}


.sodoff{
    position: fixed;
    top: 0;
    width: 100vw;
    text-align: center;
    font-size: 10pt;
    z-index: 1000;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
